# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Java/Kotlin
services/catalog/build/
services/catalog/.gradle/
services/catalog/bin/

# Go
services/shipping/cmd/server/server

# Docker
*.tar

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfplan
